html {
    height:100%;
}

body{
    height:100%;
        /* background-image: url('http://i.stack.imgur.com/kx8MT.gif');
        background-size: cover;
        
        
        
        height: 100vh;
        padding:0;
        margin:0; */

}

nav{
    height:20%;
    display:flex;
    justify-content:center;
    align-items:center;
    border:1px solid black;
}

nav div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main{
    height:80%;
    margin-top:0px;
}

#search-input{
    padding-bottom:10px;
    border-bottom:1px solid black;
}

#current-forecast{
    background-color: aquamarine;
}

.button{
    margin-top: 10px;
}

.box:not(:last-child){
    margin-bottom: 0rem;
}

@media screen and (max-width:1218px) {
    #daily-forecast{
        flex-direction:column;
    }

    .button{
        margin-top:5px;
    }
}