html {
    height:100%;
    background-color: rgb(203, 255, 251);
}

body{
    height:100%;
    
}

/* Navbar custom styling */
nav{
    height:20%;
    display:flex;
    justify-content:center;
    align-items:center;
}

nav div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Resets the margin setting for main content element */
main{
    margin-top:0px;
}

/* Styling for search input element */
#search-input{
    padding-bottom:10px;
    border-bottom:1px solid black;
}

/* Margin spacing for elements */
#main-container {
    margin:15px;
}

.button{
    margin-top: 10px;
}

/* Resets bulma's default margin styling */
.box:not(:last-child){
    margin-bottom: 0rem;
}

/* Media query to handle styling for screens smaller than 1218px */
@media screen and (max-width:1218px) {
    #daily-forecast{
        flex-direction:column;
    }

    .button{
        margin-top:5px;
    }
}